<p>
    <strong>Hours:</strong>
    <%= shift.hours %>
    
    <%= link_to 'Delete Shift', [shift.day, shift],
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
</p>